<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>199705163119-snr93gv2mbro8f7bstmnghlp2k77c32f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.199705163119-snr93gv2mbro8f7bstmnghlp2k77c32f</string>
	<key>API_KEY</key>
	<string>AIzaSyCTq6KqX-KgaW9smcUvfasAdaPgrYhqmSY</string>
	<key>GCM_SENDER_ID</key>
	<string>199705163119</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jobAdventure</string>
	<key>PROJECT_ID</key>
	<string>genuine-amulet-252115</string>
	<key>STORAGE_BUCKET</key>
	<string>genuine-amulet-252115.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:199705163119:ios:f7892f2443cdfad73aa49a</string>
	<key>DATABASE_URL</key>
	<string>https://genuine-amulet-252115.firebaseio.com</string>
</dict>
</plist>